{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'home.css' %}">
        <title>Home</title>
    </head>

    <body>
        <a href="{% url 'edit_player' %}">Aller voir l'autre page</a>
    
        <h1>Liste des joueurs</h1>


        {% if player_list %}
            <table>
                <th>Player</th>
                <th>Lane</th>
                <th>Elo</th>
                <th>Games</th>
                <th>Winrate</th>
                <th>Last 10</th>
            {% for player in player_list %}
                <tr>
                    <td>{{player.gameName}}#{{player.gameTag}}</td>
                    <td></td>
                    <td>{{player.tierSolo}} {{player.rankSolo}} {{player.lp}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}

    </body>
</html>