{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
    </head>

    <body>
        <a href="{% url 'players_list' %}">Ajout de joueurs</a>
    
        <h1>Liste des joueurs</h1>

        {% if player_list %}
            <table>
                <th>Player</th>
                <th>Team</th>
                <th>Lane</th>
                <th>Elo</th>
                <th>Games</th>
                <th>Winrate</th>
                <th>Last 10</th>
            {% for player in player_list %}
                <tr>
                    <td>{{player.gameName}}#{{player.gameTag}}</td>
                    <td>{{player.team}}</td>
                    <td>{{player.lane}}</td>
                    <td>{{player.tierSolo}} {{player.rankSolo}} {{player.lp}}</td>
                    <td>{{player.nbGameSolo}}</td>
                    <td>{{player.winrateSolo}}%</td>
                    <td>{{player.lastTenGames}}</td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}

    </body>
</html>